body {
background-color: #212529;
margin: 10vw;
font-family: Helvetica, sans-serif;
color: #FFFFFF;
}

h1 {
   font-size: 40px;
}

h2 {
   font-size: 30px;
}

p {
margin-bottom: 13%;
font-size: 17px;
}

.esquerda {
   background-color: #0089CA;
   border: 1px solid;
   padding-right: 30px;
}

.direita {
   background-color: transparent;
   border: 1px solid #FFFFFF;
}

#direita1{ 
   color: white;
}

a {
   text-decoration: none;
   color: black;
   font-size: 20px;
}

div {
width: 40%;
height: 50%;
display: inline-block;
align-items: center;
justify-content: center;
}

img {
   width: 30vw;
}

.ladoEsquerdo {
float: left;
text-align: right;
width: 60%;
}

.ladoDireito {
float: right;
}