body {
background-color: #212529;
margin: 10vw;
font-family: Helvetica, sans-serif;
color: #FFFFFF;
}

h1 {
   font-size: 40px;
}

h2 {
   font-size: 30px;
}

p {
margin-bottom: 13%;
font-size: 17px;
}

a {
   text-decoration: none;
   color: white;
   font-size: 19px;
}

div {
width: 40%;
height: 50%;
display: inline-block;
align-items: center;
justify-content: center;
}

img {
   width: 30vw;
   margin-left: 50px;
}

.esquerda {
   background-color: #0089CA;
   border: 1px solid;
   margin: 20px;
}

.esquerda:hover{
   transition: linear;
   transform: scale(1.1);
}

.direita {
   background-color: transparent;
   border: 1px solid #FFFFFF;
}

.direita:hover{
   transition: linear;
   transform: scale(1.1);
   background-color: #0089CA;
}

.esquerda, .direita {
   width: 170px;
   height: 40px;
   text-align: center;
}

#direita1{ 
   color: white;
}

.ladoEsquerdo {
   float: left;
   text-align: right;
   width: 60%;
}

.ladoDireito {
   float: right;
}